<%= form_with model: [ @test, @question ] do |form| %>

  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p>

  <p><%= form.submit %></p>
<<<<<<< HEAD

=======
  
>>>>>>> ec83c32 (2)
<% end %>
