</footer>
<p>
  <%= current_year %>
  | Gleb Vorobev |
  <%= github_url('olfies', 'TestGuru')%> <br>
</p>
<p> "Учебный проект в онлайн-школе Thinknetica" </p>
  <%= link_to 'Онлайн-школа Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
</footer>
