<footer>
  <nav class="Author">
    <ul>
      <%= current_year %> |Gleb Vorobev| <%= github_url("olfies", "TestGuru") %> - Прохождение тестов.
      <%= link_to 'Онлайн-школа Thinknetica', 'http://thinknetica.com'%>
      <%= link_to "https://github.com/olfies" %>
    </ul>
  </nav>
</footer>
