.flash {
  padding: 20px;
  margin-bottom: 10px;
  border: 5px solid transparent;
  border-radius: 4px;
  width: 100%;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.flash.notice{
  border-color: rgb(2, 129, 2);
}

.flash.alert{
  border-color: crimson;
  color: crimson;
}

.flash.success{
  border-color: green;
  color: green;
}
