
<h2>Tests:</h2>

<p>
<%= link_to 'New test', new_test_path %>
</p>

<table>
  <tr>
    <th align="left">Title</th>
    <th align="left">Level</th>
    <th align="left">Number of questions</th>
    <th colspan= "3">Actions</th>
  </tr>

  <%= render @tests %>

</table>
