<% if logger? %>

  <div class="nav user">
    Welcome, <b><%= current_user %></b> Guru
  </div>

  <div class="nav user">
    <%= link_to "LogOut", root_path, method: :delete %>
  </div>

  <% else %>

  <div class="nav user">
    <%= link_to "SignUp", signup_path %>
  </div>

  <div class="nav user">
    <%= link_to "LogIn", login_path %>
  </div>

<% end %>
